<div class="min-h-screen bg-cyber-background text-cyber-text p-6">
    <div class="flex items-center justify-center mb-8">
        <i class="fas fa-ticket-alt text-3xl text-cyber-primary mr-2"></i>
        <h1 class="text-4xl font-bold text-neon-blue">Faites sauter une contravention</h1>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        <!-- Carte d'information -->

        <div *ngFor="let product of products"
            class="cyber-card rounded-xl overflow-hidden transition-transform duration-300 hover:scale-105 hover:shadow-cyber-glow">
            <img [src]="product.image" [alt]="product.title" class="w-full h-48 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-cyber-text">{{ product.title }}</h2>
                <p class="text-neon-blue text-2xl font-bold mb-4">{{ product.price | currency:'EUR' }}</p>
                <button (click)="openPaymentModal(product)"
                    class="w-full cyber-button font-bold py-2 px-4 rounded transition-colors duration-300">
                    Acheter
                </button>
            </div>
        </div>

        <div class="cyber-card rounded-xl overflow-hidden h-full">
            <div class="h-48 bg-cyber-primary flex items-center justify-center">
                <i class="fas fa-info-circle text-6xl text-cyber-background"></i>
            </div>
            <div class="p-4">
                <div class="space-y-4">
                    <p><span class="text-cyber-primary font-bold">Important :</span> <span class="text-cyber-text-secondary">50€ est un acompte, le prix sera régulé
                        selon votre contravention (-50% + 10€ par point)</span></p>
                    <p class="text-red-500 font-semibold">Il est préférable d'envoyer la contravention en photo à ce
                        numéro sur Whatsapp : </p>
                </div>
            </div>
        </div>

    </div>
    <!-- Modal de paiement -->
    <app-modal-paiement *ngIf="showPaymentModal && selectedProduct" [product]="selectedProduct"
        (close)="closePaymentModal()" (purchase)="purchaseProduct()">
    </app-modal-paiement>
</div>