<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4 z-50 overflow-y-auto">
    <div
        class="bg-gray-800 rounded-xl shadow-2xl p-6 w-full max-w-md mx-auto my-8 sm:max-h-none max-h-[600px] overflow-y-auto">
        <h2 class="text-2xl font-bold mb-4 text-white">{{ formTitle }}</h2>
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading && !messageTransmitted" class="space-y-4">
            <ng-container *ngFor="let field of formFields">
                <div>
                    <label [for]="field.name" class="block text-sm font-medium text-gray-400 mb-1">{{ field.label
                        }}</label>
                    <ng-container [ngSwitch]="field.type">
                        <input *ngSwitchCase="'text'" [type]="field.type" [id]="field.name"
                            [formControlName]="field.name"
                            class="w-full bg-gray-700 text-white rounded-md border-gray-600 pl-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <input *ngSwitchCase="'date'" type="date" [id]="field.name" [formControlName]="field.name"
                            class="w-full bg-gray-700 text-white rounded-md border-gray-600 pl-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <input *ngSwitchCase="'number'" type="number" [id]="field.name" [formControlName]="field.name"
                            class="w-full bg-gray-700 text-white rounded-md border-gray-600 pl-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <select *ngSwitchCase="'select'" [id]="field.name" [formControlName]="field.name"
                            class="w-full bg-gray-700 text-white rounded-md border-gray-600 pl-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option value="">Sélectionnez</option>
                            <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}
                            </option>
                        </select>
                        <textarea *ngSwitchCase="'textarea'" [id]="field.name" [formControlName]="field.name" rows="3"
                            class="w-full bg-gray-700 text-white rounded-md border-gray-600 pl-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                    </ng-container>
                </div>
            </ng-container>
            <div class="flex justify-end">
                <button type="submit" [disabled]="!dataForm.valid"
                    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300"
                    [ngClass]="{'opacity-50 cursor-not-allowed': !dataForm.valid}">
                    Valider
                </button>
            </div>
        </form>
        <div *ngIf="messageTransmitted" class="text-center py-8">
            <svg class="w-16 h-16 mx-auto text-green-500 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
            </svg>
            <p class="mb-4 text-white">Votre commande a été transmise avec succès !</p>
            <p class="text-white">Un membre de notre équipe reviendra vers vous prochainement.</p>
        </div>
        <div *ngIf="messageTransmitted" class="mt-4 text-center">
            <button (click)="closeModal()"
                class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300">
                Fermer
            </button>
        </div>
    </div>
</div>