<div class="min-h-screen bg-cyber-background text-cyber-text p-6">
    <div class="flex items-center justify-center mb-8">
        <i class="fas fa-home text-3xl text-cyber-primary mr-2"></i>
        <h1 class="text-4xl font-bold text-neon-blue">Logement</h1>
    </div>

    <!-- Categories -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
        <div *ngFor="let category of categories" (click)="selectCategory(category.id)"
            class="cyber-card rounded-xl overflow-hidden transition-transform duration-300 hover:scale-105 cursor-pointer hover:shadow-cyber-glow"
            [class.ring-2]="selectedCategory === category.id" [class.ring-cyber-primary]="selectedCategory === category.id">
            <img [src]="category.image" [alt]="category.title" class="w-full h-48 object-cover">
            <div *ngIf="!category.enabled"
                class="absolute top-2 right-2 bg-red-500 text-black text-xs font-bold px-2 py-1 rounded-full">
                Bientôt disponible
            </div>
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-center text-cyber-text">{{category.title}}</h2>
            </div>
        </div>
    </div>

    <!-- Products -->
    <div *ngIf="selectedCategory" class="mt-8">
        <h2 class="text-2xl font-semibold mb-6 text-neon-blue">{{getCategoryTitle()}}</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <div *ngFor="let product of getFilteredProducts()"
                class="cyber-card rounded-xl overflow-hidden transition-transform duration-300 hover:scale-105 relative hover:shadow-cyber-glow">
                <img [src]="product.image" [alt]="product.title" class="w-full h-48 object-cover">
                <div *ngIf="!product.enabled"
                    class="absolute top-2 right-2 bg-red-500 text-black text-xs font-bold px-2 py-1 rounded-full">
                    Bientôt disponible
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold mb-2 text-cyber-text">{{product.title}}</h2>
                    <p class="text-neon-blue text-2xl font-bold mb-4">{{product.price | currency:'EUR'}}</p>
                    <button (click)="openPaymentModal(product)" [disabled]="!product.enabled"
                        [ngClass]="{'cyber-button': product.enabled, 'bg-cyber-background-secondary cursor-not-allowed': !product.enabled}"
                        class="w-full text-cyber-text font-bold py-2 px-4 rounded transition-colors duration-300">
                        Acheter
                    </button>
                </div>
            </div>
        </div>
    </div>

    <app-modal-paiement *ngIf="showPaymentModal && selectedProduct" [product]="selectedProduct"
        (close)="closePaymentModal()" (purchase)="purchaseProduct()">
    </app-modal-paiement>
</div>